COLLECTOR_PORT = A REMPLIR/ EXEMPLE :"3000"
PROCESSOR_PORT = A REMPLIR/ EXEMPLE :"3001"
FRONT_PORT = A REMPLIR/ EXEMPLE :"4173"
LOG_LEVEL = A REMPLIR/ EXEMPLE :"info"
REDIS_URL = A REMPLIR/ EXEMPLE :"redis://database:6379"